shopify app dev# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "688eefdac4b27763f5611555c74bf5fa"
name = "than-you-app"
application_url = "https://thus-ave-bend-brands.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "orders/create" ]
  uri = "/webhooks/orders/create"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_orders"

[auth]
redirect_urls = [ "https://thus-ave-bend-brands.trycloudflare.com/api/auth" ]
